<template>
  <div id="page-libro-edit">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar color="success" dark flat dense cad>
              <v-toolbar-title class="subheading">FORMULARIO DE LIBRO</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-text>
                    <v-layout row wrap>
                       <v-flex
                        v-if="id"
                        sm12
                        lg12
                      >
                        <h3>ID:{{id}}</h3>
                      </v-flex> 
                      <v-flex  sm4 lg4>
                        <v-text-field
                          outline
                          label="Codigo Libro"
                           :rules="[() => !!codigo || 'Dato Requerido']"
                          v-model="codigo"
                          ref
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                    
                     <v-flex  sm4 lg4>
                        <v-text-field
                          outline
                          label="Titulo"
                           :rules="[() => !!titulo || 'Dato Requerido']"
                          v-model="titulo"
                          ref="titulo"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                      <v-flex lg4 sm4>
                        <v-text-field
                          outline
                          label="Sub Titulo"
                          :rules="[() => !!subtitulo || 'Dato Requerido']"
                          v-model="subtitulo"
                          ref="subtitulo"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                      <v-spacer></v-spacer>

                        <v-flex  sm4 lg4>
                        <v-text-field
                          outline
                          label="Año"
                           :rules="[() => !!anio || 'Dato Requerido']"
                          v-model="anio"
                          ref="anio"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                    
                     <v-flex  sm4 lg4>
                        <v-text-field
                          outline
                          label="Nro. Pag"
                           :rules="[() => !!num_pag || 'Dato Requerido']"
                          v-model="num_pag"
                          ref="num_pag"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                         <v-flex  sm4 lg4>
                     <v-autocomplete
                        outline
                        label="Autor"
                        placeholder="Select..."
                        :rules="[() => !!autor_id || 'Dato Requerido']"
                        item-text="nombre"
                        item-value="_id"
                        :items="autores"
                        v-model="autor_id"
                        ref="autor_id"
                        required
                       :disabled="disabledForm"
                      ></v-autocomplete>
                    </v-flex>

                    </v-layout>
                  </v-card-text>
                  <v-divider class="mt-5"></v-divider>

                  <v-card-actions v-if="!disabledForm">
                    <v-slide-x-reverse-transition>
                      <v-tooltip left v-if="formHasErrors">
                     <!--    <v-btn icon @click="resetForm" slot="activator" class="my-0">
                          <v-icon>refresh</v-icon>
                        </v-btn> -->
                        <span>Refresh form</span>
                      </v-tooltip>
                    </v-slide-x-reverse-transition>
                    <v-btn color="primary" flat @click="update" :loading="loading" >ACTUALIZAR</v-btn>
                   <!--  <v-btn flat>Cancel</v-btn> -->
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-form>
              <!-- finnnnnn -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
/* import VWidget from '@/components/VWidget'; */
export default {
  name: "LibroEdit",
  data: vm => ({
      loading: false,
    //form
    valid: true,
    formHasErrors: false,
    disabledForm: null,
    errorMessages: [],
   autores: [],
    id: null,
    codigo: null,
    titulo: null,
    subtitulo: null,
     anio: null,
    num_pag: null,
    autor_id: null,
    
  }),
  computed: {
  },
  mounted() {},
  watch: {
  
  },
  created() {

  },
  methods: {
    //form
    validate() {
      if (this.$refs.form.validate()) {
        // this.snackbar = true
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  
      loadEdit(id) {
     //       this.resetFormData();
     this.listsAutores();
      this.disabledForm = false;
      this.$service
        .get("libro/"+id, {
        })
        .then(response => {

            this.id = response.data._id;
            this.codigo = response.data.codigo;
            this.titulo = response.data.titulo;
            this.subtitulo = response.data.subtitulo;
            this.anio = response.data.anio;
            this.num_pag = response.data.num_pag;
            this.autor_id = response.data.autor_id._id;
          //  this.autores.push(response.data.autor_id);

            this.$store.commit("alerta", { show: true, estado: 200 });
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },

    update() {
       this.loading = true; 
       
      if (this.$refs.form.validate() && this.id) {
        this.$service
          .put("libro/"+this.id, {
            codigo: this.codigo,
            titulo: this.titulo,
            subtitulo: this.subtitulo,
            anio: this.anio,
            num_pag: this.num_pag,
            autor_id: this.autor_id
          })
          .then(response => {
              this.disabledForm = true;
              this.$store.commit("alerta", { show: true, estado: 200 });
               this.loading = false;
          
          })
          .catch(error => {
            this.$store.commit("alerta", { show: true, estado: 404 });
             this.loading = false;
          });
      } else {
        this.$store.commit("alerta", { show: true, estado: 100 });
         this.loading = false;
      }
    },  
   listsAutores: function() {
      this.$service
        .get("autor", {})
        .then(response => {
         
         //console.log(response);
            this.autores = response.data;
            
            //this.$store.commit("alerta", { show: true, estado: 200 });
        
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    }
  }
};
</script>