<template>
  <div>
    <v-snackbar
      v-model="notify.show"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :color="color"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
     <!--<v-icon class="fa" :class="icono" dark></v-icon>-->
      <v-btn
        color="white"
        flat
        @click="notify.show = false"
      >
        <v-icon class="fa fa-times"></v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  export default {
    name: "Notify",
    data() {
      return {
        iconos:['fa-check-circle','fa-exclamation-circle','fa-window-close'],
        y: 'button',
        x: 'right',
        mode: '',
        icono:'',
        color:'error',
        icon:'',
        timeout: 6000,
        text: '',
      }
    },
    methods: {
      msm(numero, _xtra=null) {
        switch (numero) {
          case 200 :{
            this.icono=this.iconos[0];
            this.color='green';
            return 'La solicitud ha tenido éxito'
          }
          case 201 :{
            this.icono=this.iconos[0];
            this.color='green';
            return 'La solicitud ha tenido éxito y se ha creado un nuevo recurso'
          }
          case 204 :{
            this.icono=this.iconos[1];
            this.color='orange';
            return 'La petición se ha completado con éxito pero su respuesta no tiene ningún contenido'
          }
          case 400 :{
            this.icono=this.iconos[2];
            this.color='red';
            return 'Petición Inválida'
          }
          case 401 :{
            this.icono=this.iconos[1];
            this.color='orange';
            return 'No autorizado'
          }
          case 403 :{
            this.icono=this.iconos[1];
            this.color='orange';
            return 'No posee los permisos necesarios'
          }
          case 404 :{
            this.icono=this.iconos[2];
            this.color='red';
            return 'El servidor no pudo encontrar el contenido solicitado'
          }
          case 500 :{
            this.icono=this.iconos[2];
            this.color='red';
            return 'El servidor ha encontrado una situación que no sabe como manejarla'
          }
          case 100:{
            this.icono=this.iconos[2];
            this.color='red';
            return 'El formulario tiene errores de validacion'
          }
          case 999:{
            this.icono=this.iconos[0];
            this.color='green';
            return 'inicio de sesion correcto'
          }
          case 998:{
            this.icono=this.iconos[2];
            this.color='red';
            return 'El usuario es incorrecto'
          }
          case -1:{
            this.icono = this.iconos[_xtra.icon];
            this.color = _xtra.color;
            return _xtra.text
          }
        }
      }
    },
    computed: {
      notify () {

        this.text=this.msm(this.$store.state.notify.estado, this.$store.state.notify._xtra);
        return this.$store.state.notify
      }
    },
    mounted(){
      this.text=this.msm(this.notify.estado);
    }
  }
</script>

<style scoped>

</style>
