<template>
  <div id="appRoot">
    <template v-if="!$route.meta.public">
      <v-app id="inspire" class="app">
        <app-drawer class="app--drawer"></app-drawer>
        <app-toolbar class="app--toolbar"></app-toolbar>
        <v-content>
          <div class="page-wrapper">
            <router-view></router-view>
          </div> 
          <v-footer height="auto" class="white pa-3 app--footer">
            <span class="caption">GRUPO 5 MÓDULO 5 – ANÁLISIS Y DISEÑO ORIENTADO A COMPONENTES &copy; {{ new Date().getFullYear() }}</span>
            <v-spacer></v-spacer>
            <span class="caption mr-1"> Version 0.1 </span>
            <v-icon color="teal" small>info</v-icon>
          </v-footer>
        </v-content> 
      </v-app>
    </template>
    <template v-else>
      <transition>
        <keep-alive>
          <router-view :key="$route.fullpath"></router-view>
        </keep-alive>
      </transition>
    </template>
    <notify></notify>
  </div>
</template>
<script>
import AppDrawer from '@/components/app/AppDrawer';
import AppToolbar from '@/components/app/AppToolbar';
import AppFab from '@/components/app/AppFab';
import PageHeader from '@/components/app/PageHeader';
import ThemeSettings from '@/components/app/ThemeSettings';
import AppEvents from  './event';
import Notify from '@/plugins/common/notify/Notify';

export default {
  components: {
    AppDrawer,
    AppToolbar,
    AppFab,
    PageHeader,
    ThemeSettings,
    Notify
  },
  data: () => ({
    expanded: false,
    rightDrawer: false,
    snackbar: {
      show: false,
      text: '',
      color: '',
    },
    boxLoad:{
      show:false,
      text:'CARGANDO DATOS...' 
    }
  }),

  computed: {

  },

  created () {
    
    AppEvents.forEach(item => {
      this.$on(item.name, item.callback);
    }); 
    window.getApp = this;
  },
  methods: {
    openThemeSettings () {
      this.$vuetify.goTo(10);
      this.rightDrawer = (!this.rightDrawer);
    }
  },

};
</script>

<style lang="stylus" scoped>
  .setting-fab 
    top:50% !important; 
    right:50%;
    border-radius:0  
  .page-wrapper
    min-height:calc(100vh - 64px - 50px - 81px );
</style>

