<template>
  <div id="page-autor">
    <v-container>
      <v-layout row wrap>
        <v-flex sm12>
          <boton_action_header
            v-bind:p="opt"
            v-bind:titulo="titulo"
            v-on:_action="doAction($event)"
          ></boton_action_header>
        </v-flex>
            <!--  <Autor-list></Autor-list> -->
            <v-flex xs12 sm12 lg12>
         <v-card>
            <v-flex xs12 sm12 lg12>
              <v-card color="blue-grey lighten-4">
                <v-layout row wrap>
                  <v-flex>
                    <v-text-field
                      flat
                      solo
                      placeholder="Buscar"
                      v-model="search"
                      hide-details
                      class="hidden-sm-and-down"
                    ></v-text-field>
                  </v-flex>
                  <v-flex>
                    <v-btn icon @click.native="lists">
                      <v-icon>filter_list</v-icon>
                    </v-btn>
                    <v-btn icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-btn icon v-if="!advanceSerch" @click.native="advanceSerch=true">
                      <v-icon>add</v-icon>
                    </v-btn>
                    <v-btn icon v-if="advanceSerch" @click.native="advanceSerch=false">
                      <v-icon>remove</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex v-if="advanceSerch" xs12>
              <v-card color="blue-grey lighten-4">
                <v-layout row wrap></v-layout>
              </v-card>
            </v-flex>

            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.items"
                :rows-per-page-items="[10, 25, 50, { text: 'All', value: -1 }]"
                class="elevation-1"
                item-key="name"
                select-all
                v-model="complex.selected"
              >
                <template slot="items" slot-scope="props">
                  <td>
                    <v-checkbox primary hide-details v-model="props.selected"></v-checkbox>
                  </td>
                  <td>
                    <!--   <v-avatar size="32">
                      <img :src="props.item.avatar" alt>
                    </v-avatar>-->
           <!--          {{ props.item.id }} -->
                    {{ props.item.nombre }}
                  </td>
                  <td>{{ props.item.apellido }}</td>
                 
                  <td>
                    <boton_action_list
                      v-bind:b_option="params"
                      v-bind:idelemento="props.item._id"
                      v-bind:indext="props.index"
                      v-on:verData="verData($event)"
                      v-on:editData="editData($event)"
                      v-on:addData="addData($event)"
                      v-on:delData="delData($event)"
                    ></boton_action_list>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
             </v-flex>
        <v-flex>
        
 <v-dialog
            v-model="fullscreen.dialog"
            fullscreen
            transition="dialog-bottom-transition"
            :overlay="false"
            persistent 
          >
            <!--    <v-btn color="primary"  icon dark slot="activator">
                <v-icon >create_new_folder</v-icon>
            </v-btn>-->
            <v-card>
              <v-toolbar dark color="primary">
                <v-btn icon @click.native="fullscreen.dialog = false" dark>
                  <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>{{fullscreen.title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <!--   <v-btn dark flat @click.native="dialog = false">GUARDAR</v-btn> -->
                </v-toolbar-items>
              </v-toolbar>
              <v-layout row wrap>
                <v-flex lg12 sm12>
                  <Autor-create ref="idautor"></Autor-create>
                </v-flex>
              </v-layout>
              <v-layout></v-layout>
            </v-card>
          </v-dialog>

          
          <v-dialog
            v-model="fullscreen1.dialog"
            fullscreen
            transition="dialog-bottom-transition"
            :overlay="false"
          >
            <!--    <v-btn color="primary"  icon dark slot="activator">
                <v-icon >dns</v-icon>
            </v-btn>-->
            <v-card>
              <v-toolbar dark color="primary">
                <v-btn icon @click.native="fullscreen1.dialog = false" dark>
                  <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>{{fullscreen1.title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn dark flat @click.native="dialog = false">FINALIZAR</v-btn>
                </v-toolbar-items>
              </v-toolbar>
              <v-layout row wrap>
                <v-flex lg12 sm12>
                 <Autor-edit ref="idautoredit"></Autor-edit>
                </v-flex>
              </v-layout>
              <v-layout></v-layout>
            </v-card>
          </v-dialog>
 <v-dialog
            v-model="fullscreen2.dialog"
            fullscreen
            transition="dialog-bottom-transition"
            :overlay="false"
          >
            <!--    <v-btn color="primary"  icon dark slot="activator">
                <v-icon >dns</v-icon>
            </v-btn>-->
            <v-card>
              <v-toolbar dark color="primary">
                <v-btn icon @click.native="fullscreen2.dialog = false" dark>
                  <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>{{fullscreen2.title}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn dark flat @click.native="dialog = false">FINALIZAR</v-btn>
                </v-toolbar-items>
              </v-toolbar>
              <v-layout row wrap>
                <v-flex lg12 sm12>
                 <Autor-view ref="idautorview"></Autor-view>
                </v-flex>
              </v-layout>
              <v-layout></v-layout>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import boton_action_header from "@/components/plugins/boton_action_header";
import boton_action_list from "@/components/plugins/boton_action_list";
import AutorCreate from "@/views/autor/AutorCreate";
import AutorEdit from "@/views/autor/AutorEdit";
import AutorView from "@/views/autor/AutorView";


const opt1 = {
  save: false,
  edit: false,
  del: false,
  new: true
};
const params = {
  ver: true,
  edit: true,
  add: false,
  borrar: true
};
export default {
  components: {
       boton_action_list,
    AutorEdit,
    AutorCreate,
    AutorView,
    boton_action_header
  },
  computed: {},
  data() {
    return {
      advanceSerch: false,
      titulo: "GESTION DE AUTORES",
          opt: opt1,
          params: params,
      //tablas
      
      fullscreen: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        title: "FORMULARIO PARA NUEVO AUTOR"
      }
      ,fullscreen1: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        title: "FORMULARIO PARA EDITAR AUTOR"
      },
      fullscreen2: {
        dialog: false,
        notifications: false,
        sound: true,
        widgets: false,
        title: "FORMULARIO VER AUTOR"
      },

      //tablas
      search: "",
      complex: {
        selected: [],
        headers: [
          {
            text: "Nombre",
            value: "nombre"
          },
          {
            text: "Apellido",
            value: "apellido"
          },
          {
            text: "Action",
            value: ""
          }
        ],
        items: []
      }
    };
  },
  watch: {
    top(val) {
      this.bottom = !val;
    },
    right(val) {
      this.left = !val;
    },
    bottom(val) {
      this.top = !val;
    },
    left(val) {
      this.right = !val;
    }
  },
  created() {
   this.lists();
  },
  methods: {

   
 
    doAction: function(type) {
      //type=(add|del|edit|new)
      if ((type = "add")) {
        this.fullscreen.dialog = true;
        this.fullscreen.title = "FORMULARIO PARA NUEVO AUTOR";
        this.$refs.idautor.loadAdd();
      }

    },verData: function(it) {
      /*
           Insertar codigo de visualizacion de la data
        */
      this.fullscreen1.dialog = true;
      this.fullscreen1.title = "FORMULARIO PARA VISUALIZAR AUTOR";
      this.$refs.idautorview.loadView(it);
      this.id = it;
    },
     editData: function(it) {
      /*
          Insertar codigo de edicion de la data
        */
        this.fullscreen1.dialog = true;
        this.fullscreen1.title = "FORMULARIO PARA EDITAR AUTOR";
        this.$refs.idautoredit.loadEdit(it);
    },
    delData: function(it) {
      this.$service
        .delete("autor/"+ it.id, {
        })
        .then(response => {
          if (response.data.Ok) {
            if (it.index !== -1) {
              this.complex.items.splice(it.index, 1);
            }
            this.$store.commit("alerta", { show: true, estado: 200 });
          } else {
            response.data.Errores.forEach(element => {
              this.$store.commit("alerta", { show: true, estado: 404 });
            });
          }
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },
  
    lists: function() {
     
      this.$service
        .get("autor", {})
        .then(response => {
        
            this.complex.items = response.data ;
            this.$store.commit("alerta", { show: true, estado: 200 });
          
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    }
  

  }
};
</script>
