<template>
    <v-toolbar  color="grey lighten-5" >
        <v-toolbar-title class="black--text">{{titulo}}</v-toolbar-title>
        <v-spacer large></v-spacer>
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                <v-btn  color="orange darken-4"         
                        small fab flat
                        v-on="on"
                        v-if="p.del" 
                        v-on:click="_action('del')"><v-icon class="fa fa-trash-o"></v-icon></v-btn>  
                </template>
                <span>Borrar Item</span>
            </v-tooltip>
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                <v-btn  color="brown darken-1" 
                        v-on="on"
                        small fab flat
                        v-if="p.edit"
                        v-on:click="_action('edit')"><v-icon class="fa fa-pencil-square-o"></v-icon></v-btn>  
                </template>
                <span>Editar Item</span>
            </v-tooltip>
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                <v-btn  color="teal darken-4" 
                        v-on="on"
                        dark small fab flat
                        v-if="p.save"
                        v-on:click="_action('save')"><v-icon class="fa fa-floppy-o"></v-icon></v-btn>
                </template>
                <span>Grabar Registro</span>
            </v-tooltip>
            <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                <v-btn  color="light-blue darken-4" 
                        dark small fab flat
                        v-on="on"
                        v-if="p.new" 
                        v-on:click="_action('new')"><v-icon class="fa fa-file-o"></v-icon></v-btn>
                </template>
                <span>Nuevo Registro</span>
            </v-tooltip>
    </v-toolbar>
</template>
<script>
import { METHODS } from 'http';
    export default {
        name: 'boton_action_header',
        props: ['p','titulo'],
        methods:{
            _action: function (type){
                this.$emit('_action',type);
            }
        }
    };
    
</script>
<style scoped>
    .v-btn {
        margin: 0px;
    }

</style>


