<template>
    <v-speed-dial
        v-model="fab"
        :top="top"
        :bottom="bottom"
        :right="right"
        :left="left"
        :direction="direction"
        :open-on-hover="hover"
        :transition="transition"
        
    >
        <template v-slot:activator >
            <v-btn
            v-model="fab"
            small
            outline
            fab
            color="teal" >
            <v-icon >more_horiz</v-icon>
            <v-icon>close</v-icon>
            </v-btn>
        </template>
        <v-btn
            fab
            small
            v-if="b_option.ver"
            @click="showData(idelemento)"
            title="VER" >
            <v-icon  color="blue darken-4">remove_red_eye</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            v-if="b_option.edit"
            v-on:click="editData(idelemento)"
            title="EDITAR">
            <v-icon color="teal darken-4">edit</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            v-if="b_option.add"
            v-on:click="addData(idelemento)"
            title="NUEVO USUARIO">
            <v-icon color="teal darken-1">account_circle</v-icon>
        </v-btn>
        <v-btn
            fab
            small
            v-if="b_option.borrar"
            v-on:click="delData(idelemento,indext)"
            title="BORRAR">
            <v-icon color="red">delete_outline</v-icon>
        </v-btn>
        <template v-for="(item,index) in extraItems">
          <v-btn
            v-bind:key="item.accion+'_'+index"
            fab
            small
            v-on:click="_xaction(idelemento,item.accion)"
            :title="item.titulo"
            >
            <v-icon :color="item.color">{{item.icon}}</v-icon>
        </v-btn>
        </template>
    </v-speed-dial> 
</template>
<script>

/*
  const ite =[{
    'accion':'miaccion',
    'icon': 'backup',
    'titulo': 'COPIA DE SEGURIDAD'
    }
  ];
*/
  export default {
    
    name: 'boton_action_list',
    data: () => ({
      direction: 'left',
      fab: false,
      fling: false,
      hover: false,

      tabs: null,
      top: false,
      right: false,
      bottom: false,
      left: false,
      transition: 'slide-y-reverse-transition',
      
    }),
    props: ['b_option','idelemento','indext','extraItems'],
    watch: {
      top (val) {
        this.bottom = !val
      },
      right (val) {
        this.left = !val
      },
      bottom (val) {
        this.top = !val
      },
      left (val) {
        this.right = !val
      }
    },
    methods:{
        showData: function(id){
            this.$emit('verData',id);
        },
        editData: function(id){
            this.$emit('editData',id);
        },
        addData: function(id){
        
            this.$emit('addData',id);
        },
        delData: function(id,indice)
        {
            this.$emit('delData',{'id':id,'indice':indice});
        },
        _xaction(id,accion)
        {
            this.$emit('_xaction',{'id':id,'acc':accion});
        }

    },
    mounted(){
      
    }
  }
</script>
<style scoped>
 /* 
  #create .v-speed-dial {
    position: relative;
  }
  /*
  #create .v-btn--floating {
    position: relative;
  }
*/

 /* .v-btn{/*background-color: snow;*/  /*border: 1px solid teal; margin: 3px}  */
</style>