<template>
  <div id="page-perfil">
    <v-container>
      <v-layout row wrap>
            <!--  <Libro-list></Libro-list> -->
               <v-flex v-if="!add" lg12 sm12>
                 <Perfil-edit ref="idperfiledit"> </Perfil-edit>
                </v-flex>
                   <v-flex v-if="add" lg12 sm12>
                  <Perfil-create ref="idperfil"></Perfil-create>
                </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import PerfilCreate from "@/views/perfil/PerfilCreate";
import PerfilEdit from "@/views/perfil/PerfilEdit";



export default {
  components: {
    PerfilCreate,
    PerfilEdit,
  },
  computed: {


  },
   data: vm => ({
      titulo: "GESTION DE pERFIL",
      //tablas
   add:true,
    
  }),
  watch: {
    top(val) {
      this.bottom = !val;
    },
    right(val) {
      this.left = !val;
    },
    bottom(val) {
      this.top = !val;
    },
    left(val) {
      this.right = !val;
    }
  },
  mounted() {
     if (localStorage.getItem('perfil')) {
              this.add=false;
        let localPerfil =JSON.parse(localStorage.getItem('perfil'));
           this.$refs.idperfiledit.loadEdit(localPerfil.email);
          }else{
              this.$refs.idperfil.loadAdd(); 
                this.add=true;
          } 
  },
  methods: {

  }
};
</script>
