<template>
  <div id="page-perfil-edit">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar color="success" dark flat dense cad>
              <v-toolbar-title class="subheading">ACTUALIZAR PERFIL</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card>
                  <v-card-text>
                    <v-layout row wrap>
                     
 <v-flex
                        v-if="id"
                        sm12
                        lg12
                      >
                        <h3>ID:{{id}}</h3>
                      </v-flex> 
                    
                     <v-flex  sm4 lg4>
                        <v-text-field
                          outline
                          label="Nombre"
                           :rules="[() => !!nombre || 'Dato Requerido']"
                          v-model="nombre"
                          ref="nombre"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                      <v-flex lg4 sm4>
                        <v-text-field
                          outline
                          label="Apellido"
                          :rules="[() => !!apellido || 'Dato Requerido']"
                          v-model="apellido"
                          ref="apellido"
                          placeholder
                          :disabled="disabledForm"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                  <v-divider class="mt-5"></v-divider>

                  <v-card-actions v-if="!disabledForm">
                    <v-slide-x-reverse-transition>
                      <v-tooltip left v-if="formHasErrors">
                     <!--    <v-btn icon @click="resetForm" slot="activator" class="my-0">
                          <v-icon>refresh</v-icon>
                        </v-btn> -->
                        <span>Refresh form</span>
                      </v-tooltip>
                    </v-slide-x-reverse-transition>
                    <v-btn color="primary" flat @click="update" :loading="loading" >ACTUALIZAR</v-btn>
                   <!--  <v-btn flat>Cancel</v-btn> -->
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-form>
              <!-- finnnnnn -->
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
/* import VWidget from '@/components/VWidget'; */
export default {
  name: "perfilEdit",
  data: vm => ({
      loading: false,
    //form
    valid: true,
    formHasErrors: false,
    disabledForm: null,
    errorMessages: [],
  
    id: null,
    nombre: null,
    apellido: null,
  }),
  computed: {
  },
  mounted() {},
  watch: {
  
  },
  created() {

  },
  methods: {
    //form
    validate() {
      if (this.$refs.form.validate()) {
        // this.snackbar = true
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
  
      loadEdit(id) {
     //       this.resetFormData();
    
      this.disabledForm = false;
      this.$service
        .get("perfil/"+id, {
        })
        .then(response => {

            this.id = response.data._id;
            this.nombre = response.data.nombre;
            this.apellido = response.data.apellido;

            this.$store.commit("alerta", { show: true, estado: 200 });
        })
        .catch(error => {
          this.$store.commit("alerta", { show: true, estado: 404 });
        });
    },

    update() {
       this.loading = true; 
       
      if (this.$refs.form.validate() && this.id) {
        this.$service
          .put("perfil/"+this.id, {
            nombre: this.nombre,
            apellido: this.apellido,
          })
          .then(response => {
              this.disabledForm = true;
              this.id=response.data._id
                 localStorage.setItem('perfil', JSON.stringify(response.data));
              this.$store.commit("alerta", { show: true, estado: 200 });
               this.loading = false;
          
          })
          .catch(error => {
            this.$store.commit("alerta", { show: true, estado: 404 });
             this.loading = false;
          });
      } else {
        this.$store.commit("alerta", { show: true, estado: 100 });
         this.loading = false;
      }
    },  

  }
};
</script>