<template>
  <v-card ref="form">
    <v-card-text>
      <v-layout row wrap>
        <v-flex sm12 lg12>
          <h3>ID:{{PLSpeiID}}</h3>
        </v-flex>
        <v-flex sm4 lg4>
          <v-autocomplete
            outline
            label="Codigo PEI"
            placeholder="Select..."
            :rules="[() => !!Codigo || 'This field is required']"
            item-text="Codigo"
            item-value="Codigo"
            :items="Codigos"
            v-model="Codigo"
            ref="Codigo"
            required
          ></v-autocomplete>
        </v-flex>
        <v-flex sm4 lg4>
          <v-menu
            v-model="startDateMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                outline
                :rules="[() => !!FechaInicio || 'This field is required',FechaRangoCheck]"
                :error-messages="errorMessages"
                v-model="FechaInicio"
                label="Fecha de inicio"
                persistent-hint
                prepend-icon="event"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="FechaInicio" no-title @input="startDateMenu = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex sm4 lg4>
          <v-menu
            v-model="endDateMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                outline
                :rules="[() => !!FechaFin || 'This field is required',FechaRangoCheck]"
                :error-messages="errorMessages"
                v-model="FechaFin"
                label="Fecha de fin"
                persistent-hint
                prepend-icon="event"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-if="FechaInicio"
              v-model="FechaFin"
              no-title
              @input="endDateMenu = false"
            ></v-date-picker>
            <v-date-picker
              v-if="!FechaInicio"
              v-model="FechaFin"
              no-title
              @input="endDateMenu = false"
            ></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex lg12 sm12>
          <v-textarea
            outline
            class="ma-0 pa-0"
            label="Mision"
            :rules="[() => !!Mision || 'This field is required']"
            :error-messages="errorMessages"
            v-model="Mision"
            ref="Mision"
            placeholder
          ></v-textarea>
        </v-flex>

        <v-flex lg12 sm12>
          <v-textarea
            outline
            label="Vision"
            :rules="[() => !!Vision || 'This field is required']"
            :error-messages="errorMessages"
            v-model="Vision"
            ref="Vision"
            placeholder
          ></v-textarea>
        </v-flex>
        <v-spacer></v-spacer>
      </v-layout>
    </v-card-text>
    <v-divider class="mt-5"></v-divider>

    <v-card-actions>
      <v-slide-x-reverse-transition>
        <v-tooltip left v-if="formHasErrors">
          <v-btn icon @click="resetForm" slot="activator" class="my-0">
            <v-icon>refresh</v-icon>
          </v-btn>
          <span>Refresh form</span>
        </v-tooltip>
      </v-slide-x-reverse-transition>
      <v-btn color="primary" flat @click="submit">GUARDAR</v-btn>
      <v-btn flat>Cancel</v-btn>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name:"PeiForm",
  data: () => ({
    Codigos: [
      {
        Codigo: "PEI-01",
        descripcion: "Plan Estrategico Integral 1",
        estado: 1
      },
      {
        Codigo: "PEI-02",
        descripcion: "Plan Estrategico Integral 2",
        estado: 1
      },
      {
        Codigo: "PEI-03",
        descripcion: "Plan Estrategico Integral 3",
        estado: 1
      },
      {
        Codigo: "PEI-04",
        descripcion: "Plan Estrategico Integral 4",
        estado: 1
      },
      {
        Codigo: "PEI-05",
        descripcion: "Plan Estrategico Integral 5",
        estado: 1
      },
      {
        Codigo: "PEI-06",
        descripcion: "Plan Estrategico Integral 6",
        estado: 1
      }
    ],
    errorMessages: [],
    PLSpeiID: null,
    Mision: null,
    Vision: null,
    FechaInicio: null,
    startDateMenu: false,
    FechaFin: null,
    Codigo: null,
    endDateMenu: false,
    formHasErrors: false
    //date
  }),
props: ['accion','id'],
  computed: {
    form() {
      return {
        Codigo: this.Codigo,
        Mision: this.Mision,
        Vision: this.Vision
      };
    }
  },

  watch: {
    incio() {
      this.errorMessages = [];
    }
  },
created(){
  this.PLSpeiID=id;
},
  methods: {
    FechaRangoCheck() {
      this.errorMessages =
        new Date(this.FechaInicio) > new Date(this.FechaFin) 
       ? ['Hey! I\'m required']
        : [];

      return true;
    },
    resetForm() {
      this.errorMessages = [];
      this.formHasErrors = false;

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset();
      });
    },
      load() {
alert("llego");
        this.axios
          .post("PLS/Pei/Ir", {
            PLSpeiID:id
          })
          .then((response)=> {
            if (
              response.data.Estado.Codigo == 200 ||
              response.data.Estado.Codigo == 201
            ) {
              //201 accese// creado
              this.FechaInicio = response.data.Dato.FechaInicio;
              this.FechaFin = response.data.Dato.FechaFin;
              this.Mision = response.data.Dato.Mision;
              this.Vision = response.data.Dato.Vision;
              this.Codigo = response.data.Dato.Codigo;
              this.PLSpeiID = response.data.Dato.PLSpeiID;
              this.$notify({
                type: "success",
                title: "ACCESO CORRECTO",
                text: response.data.Estado.Mensaje,
                group: "foo"
              });
            } else {
              this.$notify({
                type: "error",
                title: "REVISAR LOS DATOS ENVIADOS",
                text: response.data.Estado.Mensaje,
                group: "foo"
              });
            }
          })
          .catch((error)=> {
            this.$notify({
              type: "error",
              title: "ERROR DE CONEXION ",
              text: "Conexion Con servidor no concretado ",
              group: "foo"
            });
          });
    },
    submit() {
      this.formHasErrors = false;
      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true;
        this.$refs[f].validate(true);
      });
      if (!this.formHasErrors) {
        this.axios
          .post("PLS/Pei/Insertar", {
            FechaInicio: this.FechaInicio,
            FechaFin: this.FechaFin,
            Mision: this.Mision,
            Vision: this.Vision,
            Codigo: this.Codigo
          })
          .then((response) =>{
            if (
              response.data.Estado.Codigo == 200 ||
              response.data.Estado.Codigo == 201
            ) {
              //201 accese// creado
           /*    currentObj.FechaInicio = response.data.Dato.FechaInicio;
              currentObj.FechaFin = response.data.Dato.FechaFin;
              currentObj.Mision = response.data.Dato.Mision;
              currentObj.Vision = response.data.Dato.Vision;
              currentObj.Codigo = response.data.Dato.Codigo; */
              this.PLSpeiID = response.data.Dato;
              this.$notify({
                type: "success",
                title: "ACCESO CORRECTO",
                text: response.data.Estado.Mensaje,
                group: "foo"
              });
            } else {
              this.$notify({
                type: "error",
                title: "REVISAR LOS DATOS ENVIADOS",
                text: response.data.Estado.Mensaje,
                group: "foo"
              });
            }
          })
          .catch((error)=> {
            this.$notify({
              type: "error",
              title: "ERROR DE CONEXION ",
              text: "Conexion Con servidor no concretado ",
              group: "foo"
            });
          });
      } else {
        this.$notify({
          type: "error",
          title: "VERIFIQURE DATOS DE FORMULARIO ",
          text: " Revise los datos del formulario actual",
          group: "foo"
        });
      }
    }
  }
};
</script>