  <template>
  <div style="background-color:#e1e1e1">
  <v-layout row class="align-center layout px-4 pt-4 app--page-header">
    <div class="page-header-left" >
      <h3 >{{title}}</h3>
    </div>
    <v-spacer></v-spacer>

  </v-layout>  
  </div>
</template>

<script>
import menu from '@/api/menu';
export default {
  data () {
    return {
      title: ''
    };
  }
  
};
</script>
